Code/CalibrationCode/*
!Code/CalibrationCode/*.ino
!Code/CalibrationCode/*.txt
!Code/CalibrationCode/*.cpp
!Code/CalibrationCode/*.h
Code/MPUTester/*
!Code/MPUTester/*.ino
!Code/MPUTester/*.txt
!Code/MPUTester/*.cpp
!Code/MPUTester/*.h
Code/MagneticCalibrationCode/MagneticCalibrationCode.sln
Code/MagneticCalibrationCode/MagneticCalibrationCode/*
!Code/MagneticCalibrationCode/MagneticCalibrationCode/*.ino
!Code/MagneticCalibrationCode/MagneticCalibrationCode/*.cpp
!Code/MagneticCalibrationCode/MagneticCalibrationCode/*.h
!Code/MagneticCalibrationCode/MagneticCalibrationCode/*.txt
Code/MagneticCalibrationCode/.vs/
